{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstore App</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>

  <!-- Navigation -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">My Book Store</h4>
        <span class="text-muted">Where is human nature so weak as in bookstore?</span>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="display:inline;">
          
      </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </span>
    <span  class="navbar-nav mr-auto"><a><img src="{% static 'img/bookstore.svg' %}" alt="Book Logo"/></a></span>

        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'book_list' %}">Books <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'publication_list' %}">Publications <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'author_list' %}">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'customer_list' %}">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sale_list' %}">Sales</a>
        </li>
        </ul>
    
    </nav>
  </div>
    <!-- Page Content -->
    <div class="container" id="app">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
	<div class="row">
    <div class="col-md-12 text-center">
        <br/><br/><br/>
        <hr/>
        <p>My Book Store</p>
        <p>Copyright © 2021 Book Store Application</p>
    </div>
</div>
<style>.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }</style>
        <script>$(document).ready(function () {
          var itemsMainDiv = ('.MultiCarousel');
          var itemsDiv = ('.MultiCarousel-inner');
          var itemWidth = "";
      
          $('.leftLst, .rightLst').click(function () {
              var condition = $(this).hasClass("leftLst");
              if (condition)
                  click(0, this);
              else
                  click(1, this)
          });
      
          ResCarouselSize();
      
      
      
      
          $(window).resize(function () {
              ResCarouselSize();
          });
      
          //this function define the size of the items
          function ResCarouselSize() {
              var incno = 0;
              var dataItems = ("data-items");
              var itemClass = ('.item');
              var id = 0;
              var btnParentSb = '';
              var itemsSplit = '';
              var sampwidth = $(itemsMainDiv).width();
              var bodyWidth = $('body').width();
              $(itemsDiv).each(function () {
                  id = id + 1;
                  var itemNumbers = $(this).find(itemClass).length;
                  btnParentSb = $(this).parent().attr(dataItems);
                  itemsSplit = btnParentSb.split(',');
                  $(this).parent().attr("id", "MultiCarousel" + id);
      
      
                  if (bodyWidth >= 1200) {
                      incno = itemsSplit[3];
                      itemWidth = sampwidth / incno;
                  }
                  else if (bodyWidth >= 992) {
                      incno = itemsSplit[2];
                      itemWidth = sampwidth / incno;
                  }
                  else if (bodyWidth >= 768) {
                      incno = itemsSplit[1];
                      itemWidth = sampwidth / incno;
                  }
                  else {
                      incno = itemsSplit[0];
                      itemWidth = sampwidth / incno;
                  }
                  $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                  $(this).find(itemClass).each(function () {
                      $(this).outerWidth(itemWidth);
                  });
      
                  $(".leftLst").addClass("over");
                  $(".rightLst").removeClass("over");
      
              });
          }
      
      
          //this function used to move the items
          function ResCarousel(e, el, s) {
              var leftBtn = ('.leftLst');
              var rightBtn = ('.rightLst');
              var translateXval = '';
              var divStyle = $(el + ' ' + itemsDiv).css('transform');
              var values = divStyle.match(/-?[\d\.]+/g);
              var xds = Math.abs(values[4]);
              if (e == 0) {
                  translateXval = parseInt(xds) - parseInt(itemWidth * s);
                  $(el + ' ' + rightBtn).removeClass("over");
      
                  if (translateXval <= itemWidth / 2) {
                      translateXval = 0;
                      $(el + ' ' + leftBtn).addClass("over");
                  }
              }
              else if (e == 1) {
                  var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                  translateXval = parseInt(xds) + parseInt(itemWidth * s);
                  $(el + ' ' + leftBtn).removeClass("over");
      
                  if (translateXval >= itemsCondition - itemWidth / 2) {
                      translateXval = itemsCondition;
                      $(el + ' ' + rightBtn).addClass("over");
                  }
              }
              $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
          }
      
          //It is used to get some elements from btn
          function click(ell, ee) {
              var Parent = "#" + $(ee).parent().attr("id");
              var slide = $(Parent).attr("data-slide");
              ResCarousel(ell, Parent, slide);
          }
      
      });</script>
</html>