{% extends 'bookapp/base.html' %}

{% block content %}
    <h1 class="my-4">{% if request.path == '/book/new' %} Add Book {% else %} Edit Book  {% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                      {{field}}
                      {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="alert" style="color:red;">{{ error }}</p>
                        {% endfor %}
                      {% endif %}
                    </div>
                {% endfor %}
                <div class="text-center"> 
                    <input type="submit" {% if request.path == '/book/new' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-primary"/>
                    <a href="{% url 'book_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
                </form>
            </form>
        </div>
    </div>
{% endblock %}