{% extends 'bookapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item active"><strong>Book Detail:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Book Number:</strong> {{ object.number }}</li>
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Publication:</strong> {{ object.publication }}</li>
              <li class="list-group-item"><strong>Published In:</strong> {{ object.publishedIn }}</li>
              <li class="list-group-item"><strong>Author(s):</strong>{% for author in book.author.all %}
                {{ author.name }}{% if forloop.last %}{% else %}, {% endif %}
             {% endfor %}</li>
              <li class="list-group-item"><strong>Pages:</strong> {{ object.pages }}</li>
            </ul>
        </div>
    </div>

        <div class="text-center">
                <a href="{% url 'book_edit' object.number %}"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="{% url 'book_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
    </div>
{% endblock %}