{% extends 'bookapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item active"><strong>Sale Detail:</strong> {{ object.id }}</li>
              <li class="list-group-item"><strong>Book:</strong> {{ object.book }}</li>
              <li class="list-group-item"><strong>Customer:</strong> {{ object.customer }}</li>
              <li class="list-group-item"><strong>Date:</strong> {{ object.date }}</li>
              <li class="list-group-item"><strong>Price:</strong> {{ object.price }}</li>
              <li class="list-group-item"><strong>Quantity:</strong> {{ object.quantity }}</li>
            </ul>
        </div>
    </div>

        <div class="text-center">
                <a href="{% url 'sale_edit' object.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="{% url 'sale_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
    </div>
{% endblock %}