{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstore App</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
      <a class="navbar-brand" href="/#"><img src="{% static 'img/bookstore.png' %}" alt="Book Logo"/></a>
      <a class="navbar-brand" href="{% url 'book_list' %}">Book Store</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'book_list' %}">Books <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'publisher_list' %}">Publishers <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'author_list' %}">Authors</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'customer_list' %}">Customers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'sale_list' %}">Sales</a>
          </li>
      </ul>
  </nav>

    <!-- Page Content -->
    <div class="container" id="app">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  <div class="container-fluid footer" style="float: right;">
    <div class="spacer"></div>
    <div class="container d-flex justify-content-between py-4">
      <div class="spacer"></div>
        <h5 class="my-auto">Copyright © 2021 bookstore</h5>
    </div>
</div>
</html>