{% extends 'bookstore/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Book List</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        <a class="btn btn-outline-info btn-md" style="float: right;" href="{% url 'book_new' %}">+ New Book</a>
        <br></br>
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Book Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Publication</th>
                    <th scope="col">Author(s)</th>
                    <th scope="col">Published In</th>
                    <th scope="col">Pages</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for book in object_list %}
                <tr>
                    <td>{{ book.bookNumber }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publication }}</td>
                    <td>{% for author in book.author.all %}
                        {{ author.name }}{% if forloop.last %}{% else %}, {% endif %}
                     {% endfor %}</td>
                    <td>{{ book.publicationYear }}</td>
                    <td>{{ book.pages }}</td>
                    <td><a href="{% url 'book_view' book.bookNumber %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url 'book_delete' book.bookNumber %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no product, yet. But if you want, you can add from <a class="badge badge-info" href="{% url 'book_new' %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}