{% extends 'bookstore/base.html' %}

{% block content %}
    <h1 class="my-4">Customer Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Customer Number:</strong> {{ object.customerNumber }}</li>
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Street:</strong> {{ object.street }}</li>
              <li class="list-group-item"><strong>City:</strong> {{ object.city }}</li>
              <li class="list-group-item"><strong>State:</strong> {{ object.state }}</li>
              <li class="list-group-item"><strong>Country:</strong> {{ object.country }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url 'customer_edit' object.customerNumber %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url 'customer_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
{% endblock %}