{% extends 'bookstore/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Publisher List</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a class="btn btn-outline-info btn-md" style="float: right;" href="{% url 'publisher_new' %}">+ New Publication</a>
    <br></br>
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">President</th>
                    <th scope="col">Founded In</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for publisher in object_list %}
                <tr>
                    <td>{{ publisher.name }}</td>
                    <td>{{ publisher.city }}</td>
                    <td>{{ publisher.country }}</td>
                    <td>{{ publisher.president }}</td>
                    <td>{{ publisher.yearFounded }}</td>
                    <td><a href="{% url 'publisher_view' publisher.name %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url 'publisher_delete' publisher.name %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no publisher, yet. But if you want, you can add from <a class="badge badge-info" href="{% url 'publisher_new' %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}